.Container {
  display: flex;
  z-index: 0;
  justify-content: center;
}

.background {
  height: 70vh;
  width: 100vh;
}

.itemsContainer {
  position: fixed;
  z-index: 1;
}
.item {
  position: relative;
  width: 15vw;
}
.item:hover {
  transform: translateY(-5px);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  filter: brightness(1.5);
}
