.item:hover {
  transform: translateY(-5px);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  filter: brightness(1.5);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.hidden{
  visibility: hidden;
}
